name: ci

on:
  push:
    branches: ["main"]
  pull_request:

jobs:
  check-test-build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2

      - name: Install dependencies
        run: npm install

      - name: Check
        run: bun run check

      - name: Test
        run: bun run test

      - name: Build dry run
        run: bun run build
